body {
  background-color: #f2f2f2;
}

#searchbar{
  background-color: lightgrey;
  width: 90%;
  padding: 7.5px;
  border:1px grey solid;
  margin: 1px;
}


.search{
  width: 10%;
  padding: 7.5px;
  border: 1px grey solid;
  margin: 5px;
  margin-right: auto;
}

header {
  background-color:white;
  border: solid #ffdc5e 2px;
  width: 100%;
  height:90px;
  text-align: left;
  font-family: verdana;
}

#h a:link{
  padding-left: 20px;
  padding-top: 10px;
  text-decoration: none;
  color:black;
}

#h a:visited{
  padding-left: 20px;
  padding-top: 10px;
  text-decoration: none;
  color:black;
}

#h a:hover {
  color:red;
}

  ul {
	position: sticky;
	top: 1px;
	list-style-type: none;
	margin-top: 1px; 
	padding: 0;
	overflow: hidden;
	background-color: white;
	display:flex;
  justify-content: center;
  flex-wrap: wrap;
  border: solid #ffdc5e 1px;
}
li {
	float: left;
}
li a {
	display: block;
	color: black;
	text-align: center;
	padding: 10px 30px;
	text-decoration: none; 
}
li a:hover {  
  background-color: #4d7fb2;
  color: white;
  text-decoration: underline;
}




footer {
  background-color: lightgrey;
}

.flex-container {
  display:flex;
  flex-direction:column;
}


@media only screen and (max-width: 200px) {

}

#drop-nav-button {
  display:inline-block;
  width: 50px;
}
#menu-image {
  width:30px;
}
#drop-content {
  display:none;
  background-color: lightgrey;
  color: blue;
}
#drop-nav-button:hover #drop-content {
  display:block;
  position:absolute;
}
.dropbar{
  height: 50px;
}
.dropbar:hover {
  background-color: white;
}

.container{
  padding: 5px;
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  background: url(https://wallpaperaccess.com/full/1713586.jpg);
}

iframe {
  width: inherit;
  height: inherit;
  visibility: hidden;
}

.tile{
 display: inline-block;
 margin:10px;
 height: 200px;
 width:200px;
 background-color: #ff674d;
 border: solid #ffdc5e 3px;
}

.tile:hover {
  background-color: #ff9380;
  height: 210px;
  width:210px;
  cursor: not-allowed;
  box-shadow: 0px 0px 7px #d9af18;
}

#ad {
    position:absolute;
    z-index: 2;
    right: 20px;
    top: -50px;
    background-color: white;
    border: solid black 1px;
    border-radius: 5px;
    width: 120px;
    animation: dropdown 5s;
    animation-direction: alternate;
    animation-delay: 5s;
    font-family: monospace;
    padding: 5px;
}
@keyframes dropdown {
    0% {
        top: -50px;
    }
    50%{
        top: 20px;
    }
    100% {
        top: 20px;
    }
}


/*--------------------*/

.tile2{
 display: inline-block;
 margin:10px;
 height: 200px;
 width:200px;
 background-color: #47ffb3;
 border: solid #4d7fb2 3px;
}

#headlink1{
  border: solid #ffbe78 2px;
}

#nami{
  border: solid #ffbe78 1px;
}



/*--------------------*/


#headlink3{
  background-color: #f7f7fa;
}

#link3b{
  background-color: white;
}

#san {
  background-color: #f7f7fa;
}


.tile3{
 display: inline-block;
 margin:10px;
 height: 200px;
 width:200px;
 background-color: #d0d3d6;
 border: solid #fac548 3px;
}

.tile3:hover{
  background-color: #f5f8fa;
  border: solid #fffbe3 4px;
  height: 210px;
  width:210px;
  cursor: not-allowed;
  box-shadow: 0px 0px 7px #f7edb0;
}

